{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="author" content="Jasper Koops">
        <title>
          FIX DE TITEL
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'list/base.css' %}">
        <!-- include local bootstrap backup!  -->
    </head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Jasper Koops, 2017</p>
        </div>
        <div class="col-md-8">
          <li>about</li>
          <li>contact</li>
        </div>
      </div>
    </div>
  </footer>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
